.title {
    align-self: flex-start;
    background: var(--purple);
    color: var(--white);
    font: var(--headline5);
    padding-block-start: 4px;
    padding-block-end: 4px;
    padding-inline-start: 8;
    padding-inline-end: 8px;
    /* margin-inline-start: 4px; */
    box-shadow: -4px 4px 0 var(--white);
    text-decoration: none;

}